<html>
    <head>
        <title>Booking Page</title>
    </head>
    <body>
        <h1>Login Account</h1>
        <div class='form'>
            <form method='POST' action=''>
                <!--The hidden tag here is necessary for CSRF protection (always include in forms)-->
                {{ form.hidden_tag() }}
                <!--We display the username field label and the field itself-->
                
                <h4>{{ form.country.label }} {{ form.country }}  {{ form.go }}                  
                <br>
                <br>
                <h4> {{ form.vaccine.label }} {{ form.vaccine }}
                <br>
                <br>
                <h4> {{form.entrydate.label}} {{form.entrydate}}  {{form.timeslot.label}} {{form.timeslot}}</h4>
                {{ form.submit }}

                {{ message }}
            </form>
        </div>
    <body>
</html>