<html>
    <head>
        <title>Login Page</title>
    </head>
    <body>
        <h1>Login Account</h1>
        <div class='form'>
            <form method='POST' action=''>
                <!--The hidden tag here is necessary for CSRF protection (always include in forms)-->
                {{ form.hidden_tag() }}
                <!--We display the username field label and the field itself-->
                
                <h4>{{ form.email.label }} {{ form.email }} 
                    {{form.entrydate}}
                {% if form.email.errors %}
                <div class='error'>
                     **error:
                     <span>{{ form.email.data }}</span>
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}</h4>
                </div>
                {% endif %}

                <h4> {{ form.password.label }} {{ form.password }}
          {% if form.password.errors %}
                <div class='error'>
                    **error:
                    <span>{{ form.password.data }}</span>
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                        
                    {% endfor %}</h4>
                </div>
                {% endif %}
                <br>
                {{ form.submit }}

                {{form.test}}

                {{ message }}
            </form>
        </div>
        <div>
            
        </div>
    <body>
</html>